<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Hgstats by nigelbabu</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script type="text/template" id="graph_template">
      <h3><a name="<%= name %>" class="anchor" href="#<%= name %>"><span class="octicon octicon-link"></span></a><%= title %></h3>
        <img src="<%= url %>" />
    </script>
    <script type="text/template" id="health_report">
      <h3><a name="health-report" class="anchor"
              href="#health-report"><span class="octicon octicon-link"></span></a>Health Report</h3>
            <img width="586px" height="308px" src="https://graphite.mozilla.org/render/?width=586&height=308&_salt=1408051397.081&from=-<%= hours %>hours&target=secondYAxis(sumSeries(removeBelowValue(hosts.hgweb*_dmz_scl3_mozilla_com.apache.apache80.apache_bytes.count%2C0)))&target=sumSeries(removeAboveValue(hosts.hgweb*_dmz_scl3_mozilla_com.apache.apache80.apache_requests.count%2C100000))&target=averageSeries(hosts.hgweb*_dmz_scl3_mozilla_com.cpu.*.cpu.idle.value)&target=secondYAxis(averageSeries(hosts.hgweb*_dmz_scl3_mozilla_com.swap.swap.used.value))&hideLegend=true" />
        <table>
            <caption>Consolidated across all cpu cores and webheads</caption>
            <tr>
                <th>Left Scale</th>
                <th>Right Scale</th>
            </tr>
          <tr>
              <td>Red is %idle CPU, so down is bad.</td>
              <td>Magenta is swap used, so up is bad.</td>
          </tr>
          <tr>
              <td>Green is http request count.</td>
              <td>Blue is http response bytes.</td>
          </tr>
      </table>
    </script>
  </head>
  <body>

      <header>
        <h1>Hgstats</h1>
        <p>Graphs for hg.m.o</p>
      </header>

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
      </section>
      <footer>
        <p>Project maintained by <a href="https://github.com/nigelbabu">nigelbabu</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/underscore.js"></script>
    <script src="javascripts/backbone.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
