<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Hgstats by nigelbabu</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script type="text/template" id="graph_template">
      <h3><a name="<%= name %>" class="anchor" href="#<%= name %>"><span class="octicon octicon-link"></span></a><%= title %></h3>
        <img src="<%= url %>" />
    </script>
  </head>
  <body>

      <header>
        <h1>Hgstats</h1>
        <p>Graphs for hg.m.o</p>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <a href="https://github.com/nigelbabu/hgstats/issues" class="button fork"><strong>File Bug</strong></a>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
      </section>
      <footer>
        <p>Project maintained by <a href="https://github.com/nigelbabu">nigelbabu</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/underscore.js"></script>
    <script src="javascripts/backbone.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
